backend/.env
backend/library_system/__pycache__/
backend/library_system/models/__pycache__/
backend/library_system/services/__pycache__/
backend/library_system/utils/__pycache__/
backend/library_system/database/__pycache__/
backend/tests/__pycache__
backend/tests/integration/__pycache__
backend/.coverage
backend/.pytest_cache
backend/htmlcov/
frontend/.env
backend/venv
frontend/venv
backend/__pycache__
frontend/__pycache__
